
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-header {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: green;
    color: white;

    padding: 10px 0;
    font-size: 14px;
    position: fixed;
    width: 100%;
    top: 0;
    transition: all 0.6s;
    z-index: 1000;

}

.your-time {
    font-size: 18px;
    
}


.second-header {
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 32px;
    position: fixed;
    width: 100%;
    top: 110px;
    transition: all 0.6s;
    z-index: 999;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}





.logo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.logo h5{
    color: black;
}
.logo img{
    width: 80px;
    transition: all 1.4s; 
}
.logo:hover{
    transition: all 1.4s;
    transform: scale(1.1);
}
.nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    font-size: 16px;
}
.nav a:hover {

    color: rgba(255, 1, 1, 0.961);

}
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger span {
    transition: 0.3s;
}

.burger img {
    width: 40px;
    height:40px;
    transition: 0.3s;
}


@media (max-width: 768px) {
    .main-container{
        width: 100%;
        
    }
    .first-header {
       
        text-align: center;

    }
    .second-header {
        
        align-items: center;
        text-align: center;
        padding: 10px;
    }


    .image-thumbs {
        flex-wrap: wrap;
    }
    .thumb {
        width: 80px;
        height: 60px;
    }
    .banner {
        font-size: 18px;
        padding: 50px 10px;
    }
    .thumb:active {
        opacity: 0.7;
    }
    .burger {
        display: flex;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background: white;
        width: 200px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
    }

    .nav a {
        display: block;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .nav.active {
        display: flex;
    }
}


@media (max-width: 1024px) {
    .first-header {
        font-size: 12px;
    }
    .second-header {
        padding: 10px 20px;
    }
    .logo img {
        width: 60px;
    }
    .main-image {
        height: 350px;
    }
    .thumb {
        width: 100px;
        height: 75px;
    }
    .banner {
        padding: 80px 15px;
    }
    .thumb:active {
        opacity: 0.7;
    }
}


